

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 980px) /* Desktop */ {

.menu-container {
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;    /* Add this */
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.appstore {
  display: flex;
  align-items: center;
}


.our-story{
  background-color: #4785FF;
  text-align: center;
  font-family: avenir;
  color: white;
}

.our-story h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
  padding-top: 23px;
}

.our-story p {
  font-size: 16px;
  font-weight: 500;
  padding: 0 344px 20px;
  line-height: 1.5;
}

.our-story p:before {
  content: "";
  width: 10em;
  display: block;
  overflow: hidden;
  /* For Demonstration */
}


#final-paragraph {
  padding-bottom: 77px;
}


.hi {
  text-align: center;
  margin: 10px 0;
  font-family: avenir;
}


.sayhi-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sayhi-words-wrapper{
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
}

.sayhi-words {
  width: 415px;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.sayhi-words span {
  position: absolute;
  font-family: avenir;
}

.insta {
  left: 78px;
}

.fb {
  left: 175px;
}

.twitter{
  left: 277px;
}

.gear {
  left: 377px;
}

a {
  text-decoration: none;
  color: black;
}

.footer-container{
  padding: 20px 0 0;
  display: flex;
  justify-content: flex-end;
}

.footer {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.pp {
  margin: 0 15px 10px;
}

.tos a, .pp a {
  text-decoration: underline;
}

}

@media screen and (max-width: 500px) /* Mobile */ {
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .appstore {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .our-story{
    background-color: #4785FF;
    text-align: center;
    font-family: avenir;
    color: white;
  }

  .our-story h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    }

  .our-story p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px 5px;
  }


  #final-paragraph {
    padding-bottom: 77px;
  }

  .hi {
  text-align: center;
  margin: 10px 0;
  font-family: avenir;
}


}





/* Applies to all */
.photo-grid-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  .photo {
    position: relative;
  }

  .photo video {
    position: absolute;
    z-index: 1;
    top: 51px;
    left: 10px;











































































